body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('branche-genevrier-epineuse-fond-minimal-gris-beige_53876-113047.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

header {
    background-color: rgba(76, 175, 80, 0.9); /* Une couleur de fond verte avec transparence */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

nav {
    background-color: rgba(76, 175, 80, 0.9);
    padding: 10px 0;
    text-align: center;
    width: 50%;
    margin: 0 auto 20px;
    border-radius: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #45a049;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.network {
    margin-bottom: 40px;
}

.network h2 {
    color: #4CAF50;
    font-size: 2em;
}

.network img {
    width: 50%; /* Réduit la taille de l'image par 2 */
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.network p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1); /* Agrandissement */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre portée */
}

